<div class="modal-header">
  <h4 class="modal-title pull-left">{{message}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form #form="ngForm" (ngSubmit)="confirmPass(form.value)" class="well">
   <div class="form-group">
     <label>password</label>
     <input type="text" class="form-control" name="password" ngModel />
     <p><small> This was created when you created the profile.</small></p>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-link" type="button" (click)="confirmPass(form.value)">
   Confirm
  </button>
  <button class="btn btn-link" type="button" (click)="decline()">
   Cancel
  </button>
</div>

