<div class="container">
  
  <button *ngIf="noWrapSlides" (click)="slideshow()">Start Slide Show</button>
  <button *ngIf="!noWrapSlides" (click)="slideshow()">Stop Slide Show</button>
  <button (click)="rotate()">Rotate</button>
  <button (click)="rotateClockwise()">Rotate Ckockwise</button>
  <button (click)="rotateAntiClockwise()">Rotate AntiCkockwise</button>

  <carousel [noWrap]="noWrapSlides" [interval]="myInterval" (activeSlideChange)="log($event)">

    <slide *ngFor="let slide of videos; let index=index">
      <div class="text-center py-5 bg-dark text-white">
        <div class="row">
          <div class="col-sm-9">
            <img [@rotatedState]='state' [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
          </div>
          <div class="col-sm-3">
            <h2>{{slide.title}}</h2>
            <div class="lead">
              <h3>{{slide.url}}</h3>
              <p>{{slide.description}}</p>
            </div>
          </div>
        </div>

      </div>
    </slide>
  </carousel>

  <!--
  <div class="checkbox">
      <label><input type="checkbox" [(ngModel)]="noWrapSlides">Disable Slide Looping</label>
  </div>
  -->
</div>

<br />
